/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Montserrat:400,700|Raleway:300,400");
$base-font: "Open Sans", "Helvetica", "sans-serif";
$header-font: "Montserrat", "sans-serif";
$navbar-font: 'Raleway', "sans-serif";
