<center>
<h2>New Movie</h2>
</center>
<div class="row">
  <div class="col-xs-8 col-xs-offset-2">

    <%= render 'form', movie: @movie %>
  </div>
</div>

<br>
<%= link_to 'Back', movies_path ,class: "btn btn-default btn-lg" %>

