
<div class="container">
  <div class="row">
    <div class="col-xs-offset-3 col-xs-6">
      <h2>New Movie</h2>

      <%= render 'form', movie: @movie %>
    </div>
  </div>
</div>

<br>
<br>
<br>
<br>
<br>


