/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

@import "config/bootstrap_variables";
@import "config/variables";

@import "components/index";
@import "layouts/index";
@import "pages/index";
@import "vendor/index";


.field
{
  color:#337ab7;
}
.space
{
  padding-bottom: 20px;
}

.btn-danger
{
  background-color:#1Ea896;
  border-color:none;
  color:white;
}
.btn-danger:hover
{
   background-color: #04B486;
}
.btn-block
{ margin: 10;

  background-color:#FF5733;
  border-color:#FF5733;
  color:white;
  width: 100px;
}
.btn-block:hover
{
background-color:#FF5740;
border-color:#FF5733;
}
