<div class="search">
  <form action="/movies"  role="Search">
    <input type="text" class="searchTerm" placeholder="Search movies" name="search">
     <button type="submit" class="searchButton">
  <i class="fa fa-search"></i>
    </button>
  </form>
</div>
